$font-family: "Jost", sans-serif;
$second-family: "Archivo", sans-serif;
$third-family: "Inter", sans-serif;
$font3: "Ubuntu", sans-serif;

$black: #1b1b1d;
$white: #fff;
$gray: #64646a;
$bg: #eeeff1;